html{
 background: linear-gradient(navy,lightblue);
}
h1{
 padding-top: 250px;
 color: Black;
 text-align: center;
}
h2{
 text-align: center;
}
ul#Languages-Attempted li{
 background: lightgray;
 font: cursive;
 font-size: 30px;
 color: rgb(59,0,59);
 font-family: cursive;
 margin-left: 25px;
 margin-right: 1000px;
 border-style:groove;
}
div.list{
 position: relative;
}
div.picture{
 position: absolute;
}
ul#Languages-Attempted #easy{
 font-weight: bold;
 color: darkgreen;
 font-style: oblique;
}
p.exp{
 color: rgb(20,20,20);
 position: static;
}
p{
 text-align: left;
 padding: 50px;
 font-family: fantasy;
 font-size: 25px;
}
#pulsar{
 border-style: solid;
 border-color: navy;
 margin:auto;
 height: 100;
 width: 300;
}
img{
 margin-left: 400px;
 height: 300;
 width: 400;
}
p.top{
 z-index: 4;
 padding: 50px;
 background: red;
 position: fixed;
 opacity:.5;
}
p.top:hover{
 padding: 50px;
 background: red;
 position: fixed;
 margin-right: 300px;
 opacity:.1;
